include ./components/components.pug
doctype html
html(lang="ru")
  include ./modules/head.pug
  body
    .wrapper
      include ./modules/header.pug
      main.main
        include ./modules/about.pug
        include ./modules/statistic.pug
        include ./modules/field.pug
        include ./modules/services.pug
        include ./modules/special.pug
        include ./modules/advantages.pug
        include ./modules/contacts.pug
        include ./modules/form.pug
      include ./modules/footer.pug
      include ./modules/modal.pug

      


    