section.about#about
  .container
    p.about__subtitle.subtitle ОБО МНЕ 
    h2.about__title.title Ярославна Алексеевна Короткова — юрист в сфере гражданско-правовых отношений, с&nbsp;опытом работы более <span>10</span> лет.
    img(src="images/about/1.jpeg", alt="")