section.contacts#contacts
  .container
    .contacts__inner
      p.contacts__subtitle.subtitle КОНТАКТЫ
      h2.contacts__title.title СВЯЖИТЕСЬ СО МНОЙ ЛЮБЫМ УДОБНЫМ&nbsp;СПОСОБОМ
      ul.contacts__list
        li.contacts__list-item
          a.contacts__list-link(href="#")
            img(src="images/contacts/email.svg", alt="")
            p hello@korotkova.ya
        li.contacts__list-item
          a.contacts__list-link(href="#")
            img(src="images/contacts/teleg.svg", alt="")
            p @y.korotkova
        li.contacts__list-item
          a.contacts__list-link(href="https://wa.me/79064339966?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target='_blank')
            img(src="images/contacts/wup.svg", alt="")
            p +7 (906) 433-99-66