section.field
  .container
    .field__inner
      p.field__subtitle.subtitle деятельность
      h2.field__title.title моя сфера деятельности
      .field__content
        img(src="images/field/1.jpeg", alt="")
        .field__content-box
          p.field__content-text Все виды гражданско-правовых споров: от&nbsp;устной консультации, до&nbsp;Верховного суда РФ. Трудовое, семейное, жилищное, земельное законодательство; споры в&nbsp;сфере защиты прав потребителей; дела о&nbsp;банкротстве; административные споры.
          a.field__content-link(href="https://wa.me/79064339966?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target="_blank") Написать мне