footer.footer
  .container
    .footer__inner 
      .footer__top 
        ul.footer__list 
          li.footer__list-item навигация
          li.footer__list-item
            a(href="#services").navigate услуги
          li.footer__list-item
            a(href="#about").navigate обо мне 
        ul.footer__list 
          li.footer__list-item контакты
          li.footer__list-item 
            a(href="mailto:hello@korotkova.ya") e-mail 
          li.footer__list-item
            a(href="https://wa.me/79064339966?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target='_blank') WHATSAPP
          li.footer__list-item
            a(href="https://wa.me/79064339966?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B" target='_blank') TELEGRAM 
        .footer__top-box 
          p Краснодарский край, г. Сочи, Курортный пр., 53
          a(href="#" target="_blank") СМОТРЕТЬ НА КАРТЕ 
      .footer__links 
        a.footer__link(href="#") 
          img(src="images/footer/telegram.svg", alt="")
        a.footer__link(href="#") 
          img(src="images/footer/wa.svg", alt="")
        a.footer__link(href="#") 
          img(src="images/footer/inst.svg", alt="")
          span *
      p.footer__warn *запрещенная в России организация
      .footer__bottom 
        p.footer__copy © Ярославна Короткова, 2022
        a.footer__policy(href='privacy.html' target="_blank") Политика конфиденциальности
