section.services#services
  .container
    .services__inner
      p.services__subtitle.subtitle Услуги
      h2.services__title.title предоставляемые услуги
      .services__lists
        ul.services__list
          li.services__list-item досудебное урегулирование спора, мировые соглашения
          li.services__list-item подготовка исковых (в том числе, встречных) заявлений, судебных приказов, заявлений на обеспечение иска
          li.services__list-item подготовка любых форм письменных соглашений
          li.services__list-item консультации (устные, письменные, углубленные с оценкой рисков)
          li.services__list-item обжалование судебных решений, определений и&nbsp;постановлений любой подведомственности и&nbsp;подсудности
          li.services__list-item составление жалоб, требований, претензий
          li.services__list-item правовое сопровождение экспертиз
          li.services__list-item УФАС, Арбитраж, общая юрисдикция
          li.services__list-item исполнительное производство
          li.services__list-item аутсорсинг
      .services__text не откладывайте судебный спор до истечения процессуальных сроков, восстановить нарушенное право можно уже сегодня
      button.services__button.modal-btn(type="button") записаться