section.special
  .container
    .special__inner
      .special__box
        h3.special__title доверьте решение споров профессионалу — сохраните свои время, нервы и средства
        p.special__caption Я.Короткова
      img.special__image(src="images/special/2.jpeg", alt="")