section.statistic
  .container
    .statistic__inner
      .statistic__box
        p.statistic__text Всю сознательную жизнь транслирую справедливость, трудолюбие, честность и&nbsp;созидание. В&nbsp;образовательных учреждениях долгие годы была старостой, членом творческих объединений и&nbsp;научных сообществ, призером губернаторских грантов, победителем олимпиад. Была председателем студенческого совета, депутатом молодежного парламента при Администрации города-курорта Сочи и&nbsp;помощником депутата Городского собрания&nbsp;г.&nbsp;Сочи.
        p.statistic__text Работаю с&nbsp;16&nbsp;лет, свою профессию выбрала по&nbsp;призванию. Последние 5&nbsp;лет была сотрудником электросетевой организации, где сделала карьеру от&nbsp;юрисконсульта первой категории до&nbsp;начальника юридического отдела. С&nbsp;2023 года открыла свой центр юридических услуг, поскольку мой практический опыт и&nbsp;приобретённые знатная могут помочь большему количеству людей. 
      ul.statistic__list
        li.statistic__list-item
          p.statistic__list-item-num 350+
          p.statistic__list-item-desc положительных судебных решений
        li.statistic__list-item
          p.statistic__list-item-num 30%
          p.statistic__list-item-desc споров урегулированы мирными соглашениями
        li.statistic__list-item
          p.statistic__list-item-num 50%
          p.statistic__list-item-desc споров успешно разрешены до обращения в суд