mixin menu
  nav.menu
    ul.menu__list
      each value, index in {'Услуги': 'services', 'обо мне': 'about', 'Контакты': 'contacts'}
        li.menu__list-item 
          a.menu__list-link(href="#" + value)= index