body
  @extend %gothic
  font-size: 16px
  color: $primary

.wrapper
  overflow: hidden
  background-color: #fff

.container
  max-width: 1460px
  padding: 0 10px
  margin: 0 auto

.subtitle
  margin-bottom: 50px
  text-transform: uppercase

.title
  @extend %corm
  font-size: 60px
  text-transform: uppercase
  margin-bottom: 60px
  span
    font-size: 90px
    line-height: 0

.policy
  font-size: 12px
  a
    text-decoration: underline

.slick-arrow
  border: none
  background-color: transparent
  padding: 0
  background-color: #fff
  border-radius: 50%
  +flex-center
  width: 50px
  height: 50px
  cursor: pointer
  position: absolute
  bottom: -100px
  svg
    width: 35px
    height: 35px

.slick-prev
  transform: rotate(180deg)
  left: 45%

.slick-next
  right: 45%
